name: Main Worflow

on: [push, pull_request]
 
jobs:
  call-reusable-workflow:
    uses: jtgober/reusable-flows/.github/workflows/reusable-flow.yml@main
    with:
      node-version: '18.x'
      npm-install-command: 'ci'
      run-playwright: true
      upload-artifact: true